/* Custom page CSS
-------------------------------------------------- */
/* template CSS file to customise Bootstrap */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Not required for template or sticky footer method
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Where any code is written within html file 
-----------------------------------------------------*/
code {
  font-size: 80%;
}

/* Highlights emphasised text (coding regions) 
-----------------------------------------------------*/
em {
    background-color: #FFD700;
    font-style:  normal;
}

.navbar-brand {
    min-width: 200px;
}

/* Puts zebra stripes on main table, takes out standard
link styles and replaces with hover over row  
-----------------------------------------------------*/
tr a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
}

tr a:hover {
	color: black;
	text-decoration: none;
}

tr a:visited {
	color: black
}

tr:nth-child(even) {
	background: #efefef;
}

tr:nth-child(even):hover {
	background: #dfdfdf !important;
}

tr:hover {
	background: #dfdfdf !important; 
}

table .header:hover {
	background: #fff !important;
}

/* styles the described gene in the header bar of *.pl 
-----------------------------------------------------*/
.title {
color: white;
font-size: 1.2em;
}

.title:hover {
color: white;
text-decoration: none;
}

/* styles for contents of gene details (getgene.pl) page 
-----------------------------------------------------*/
.descriptor {

color: blue;
font-size: 1.2em;
}

.seqtitle {

font-size: 1.2em;
font-weight: bold;
text-transform: capitalize;
}

/* paginates results and places boder around them
---------------------------------------------*/
.resultsDNA, .resultsAA {
padding: 3em 0 0 0;
margin: 0;
word-wrap: break-word;
}
.results {

border: 1px solid;
padding: 2em 2em 2em 2em;
margin: 1em 1em 100em 0;
}

.resultsCodon {
padding: 3em 0 0 0;
margin-bottom: 500px;
}

/* alters colour of restriction enzyme sites
---------------------------------------------*/
.enzyme {
color: blue;
font-size: 1em;
font-weight: bold;
}

/* places results in centre of screen 
---------------------------------------------*/
.placeholder {
padding-top: 3em;
padding-bottom: 0;
}

/* placing of enzyme choice buttons and user defined search 
---------------------------------------------*/
.enzchoice {
padding: 0.5em 3em 0 0;
margin: 0;
}

/* makes error messages red
____________________________________________*/
.error {
color: red;
}
